
body {background-color: #181763;}

/* Navigation Bar */
nav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c19063+0,fae2ce+100 */
background: #c19063; /* Old browsers */
background: -moz-linear-gradient(top, #c19063 0%, #fae2ce 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #c19063 0%,#fae2ce 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #c19063 0%,#fae2ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19063', endColorstr='#fae2ce',GradientType=0 ); /* IE6-9 */
}

.navbar-default .navbar-brand {
    color: #333;
}

nav .form-control {
    height: 30px;
}

.navbar-default .navbar-nav > li > a {
  color: #333;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #181763;
}

/* Body */
#main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#profile-stories, #results {
    background: #fff;
    color: #333;
    width: 75%;
    margin: 0 auto;
    padding: 1.5rem;
    margin-bottom: 3rem;
}

#profile-stories-header {
    text-align: center;
    border-bottom: 1px solid #fff;
    padding: 1rem;
}

.story-title {
  border-bottom: 1px solid #2624a5;
}

select {
    color: #000;
}


/* Forms */

form {
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
}

form input {
    margin: 1rem 2rem;
    box-shadow: 0px 0px 1px #333;
}

form select {
    margin: 0 1rem;
}

.genre-box {
    display: inline-block;
}

/* Login Form */
.login-form {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    width: 30%;
    margin: 0 auto;
    color: #000;
    padding: 2rem;
    box-shadow: 0px 0px 5px #989898;
    overflow: auto;
}

.login-form label {
    float: right;
}

.login-form input {
    float: right;
}

/* Upload */

#pdf-file {
  color: #dedede;
}

/* Stripe */

  
  .example.example3 * {
    font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
    font-size: 16px;
    font-weight: 600;
  }
  
  .example.example3 .fieldset {
    margin: 0 15px 30px;
    padding: 0;
    border-style: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  .example.example3 .field {
    padding: 10px 20px 11px;
    background-color: #7488aa;
    border-radius: 20px;
    width: 100%;
  }
  
  .example.example3 .field.half-width {
    width: calc(50% - (5px / 2));
  }
  
  .example.example3 .field.third-width {
    width: calc(33% - (5px / 3));
  }
  
  .example.example3 .field + .field {
    margin-top: 6px;
  }
  
  .example.example3 .field.focus,
  .example.example3 .field:focus {
    color: #424770;
    background-color: #f6f9fc;
  }
  
  .example.example3 .field.invalid {
    background-color: #fa755a;
  }
  
  .example.example3 .field.invalid.focus {
    background-color: #f6f9fc;
  }
  
  .example.example3 .field.focus::-webkit-input-placeholder,
  .example.example3 .field:focus::-webkit-input-placeholder {
    color: #cfd7df;
  }
  
  .example.example3 .field.focus::-moz-placeholder,
  .example.example3 .field:focus::-moz-placeholder {
    color: #cfd7df;
  }
  
  .example.example3 .field.focus:-ms-input-placeholder,
  .example.example3 .field:focus:-ms-input-placeholder {
    color: #cfd7df;
  }
  
  .example.example3 input, .example.example3 button {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border-style: none;
  }
  
  .example.example3 input {
    color: #fff;
  }
  
  .example.example3 input::-webkit-input-placeholder {
    color: #9bacc8;
  }
  
  .example.example3 input::-moz-placeholder {
    color: #9bacc8;
  }
  
  .example.example3 input:-ms-input-placeholder {
    color: #9bacc8;
  }
  
  .example.example3 button {
    display: block;
    width: calc(100% - 30px);
    height: 40px;
    margin: 0 15px;
    background-color: #fcd669;
    border-radius: 20px;
    color: #525f7f;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .example.example3 button:active {
    background-color: #f5be58;
  }
  
  .example.example3 .error svg .base {
    fill: #fa755a;
  }
  
  .example.example3 .error svg .glyph {
    fill: #fff;
  }
  
  .example.example3 .error .message {
    color: #fff;
  }
  
  .example.example3 .success .icon .border {
    stroke: #fcd669;
  }
  
  .example.example3 .success .icon .checkmark {
    stroke: #fff;
  }
  
  .example.example3 .success .title {
    color: #fff;
  }
  
  .example.example3 .success .message {
    color: #9cabc8;
  }
  
  .example.example3 .success .reset path {
    fill: #fff;
  }


@media (max-width: 767px) {
    
    form, .login-form {
        width: 90%;
    }

}
